/*mortis ghost hand writing in font format, pretty sick*/
@font-face {
  font-family: "MortisGhost";
  src: url("https://solomonthelast.neocities.org/fonts/MortisGhost.otf") format("opentype");
}

/* this is the background */
body {
    background-color:whitesmoke;
    background-image:url("https://solomonthelast.neocities.org/images/carpet.png");
    margin:0;
    /* padding:0; cursor: url("/cursor.png"), auto; */
}

header {
    background-image:url("https://solomonthelast.neocities.org/images/carpet.png");
    padding: 10px 0;
    text-align: center;
}

header.header-title img {
    display: block;
    margin-left: auto;
    margin-right: auto;    
 }
 nav {
    padding: 10px 0;
    text-align: center;
 }
nav.shitty-link img {
    display: block;
    margin-left: auto;
    margin-right: auto;    
 }