/*mortis ghost hand writing in font format, pretty sick*/
@font-face {
  font-family: "MortisGhost";
  src: url("https://solomonthelast.neocities.org/fonts/MortisGhost.otf") format("opentype");
}
body {
  margin: 0;
}


/* Background */
.page-layout {
  background-image: url("https://solomonthelast.neocities.org/images/sky.gif");
  margin: 0;
}
header {
  text-align: center;
  padding: 10px 0;
}
/* centered header img and added mouse cursor*/
.header img {
  display: inline-block; /* important: allow centering via text-align */
  margin: 0 auto;
  cursor: url("https://solomonthelast.neocities.org/images/fishcursor.gif")8 8, auto;
}

.ads-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  padding: 5px 0;
  margin-bottom: 5px;
}

.ads-animation img {
 animation: 8s adScroll infinite; 
}

@keyframes adScroll {
  from {
    translate: -140vw 0;
  }
  to {
    translate: 140vw 0;
  }
}

/* Layout for main and asides */
.page-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

/* Middle section */
.main-page {
  flex: 1; 
  background: #f0f0f0; 
  padding: 10px;
}


.aside-right {
  background: silver;
  display: flex;
  flex-direction: column; 
  padding: 10px; 
  box-sizing: border-box; 
  max-width: 200px; 
  overflow-y: auto; 
}

.aside-left {
  background: silver;
  display: flex;
  flex-direction: column; 
  padding: 10px; 
  box-sizing: border-box; 
  max-width: 200px;
  overflow-y: auto;
}

.aside-left img {
  max-width: 100%;
  height: auto;
}

.brainrot-link {
  cursor: url("https://solomonthelast.neocities.org/images/wii.png")8 8, auto;
}
