/*mortis ghost hand writing in font format, pretty sick*/
@font-face {
  font-family: "MortisGhost";
  src: url("https://solomonthelast.neocities.org/fonts/MortisGhost.otf") format("opentype");
}

/* Background */
.page-layout {
  background-image: url("https://solomonthelast.neocities.org/images/sky.gif");
  margin: 0;
}

/* Stack header and nav vertically */
.content {
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  padding: 10px 0;
}
/* centered header img and added mouse cursor*/
.header-title img {
  display: inline-block; /* important: allow centering via text-align */
  margin: 0 auto;
  cursor: url("https://solomonthelast.neocities.org/images/wii.png"), auto;
}


/* Layout for main and aside side-by-side */
.page-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}

/*nav links image centering*/
.nav-links img {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
  cursor: url("https://solomonthelast.neocities.org/images/wii.png"), auto;
}

/* Main content */
.main-page {
  flex: 1;
  font-family: "Didot, serif";
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  background-image: url("https://solomonthelast.neocities.org/images/cutemush.gif");
}

/* Sidebar content on the right */
.aside-right-imgs {
  width: 200px;
  box-sizing: border-box;
}