body {
    background-color:whitesmoke;
    background-image:url("https://solomonthelast.neocities.org/images/fishbanner.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    background-image:url("https://neocities.org/dashboard?dir=images#");
    padding: 10px 0;
    text-align: center;
}
header.header-title img {
    display: flex;
    margin-left: auto;
    margin-right: auto;  
 }